/* This is for your Custom Content. */
body {
  color:#bbbccc;
  text-shadow:1px 1px 1px #000;
  height:100%; 
  font-family: 'microsoft yahei', sans-serif; 
  font-size: 30;
}

/* Theme Vars */
$link-color: #ffffff;
